
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	overflow-y:scroll;
	overflow-x:hidden;
}

*{
	scroll-behavior: smooth !important;
}

#mainCard{

	border:1px solid #cccccc;
	border-top:4px solid #000;
	border-radius:5px;
	box-shadow:3px 4px #dbdbdb;
	padding-top:10px;
	padding-right:20px;
	min-height:150px;
	min-width:340px;
	max-width:400px;
	z-index:1;
}

#mainCard img{
	border-radius:100%;
	max-width:125px;
	float:left;
}

.info{
	
	font-family:'Roboto Mono';
	font-size:24px;
	background-color:#fff;
	text-align:right;
	line-height:55px;

}

.info p{
	font-family:'Ubuntu';
	font-size:18px;
	line-height:23px;
}

#icons{
	
	z-index:1000000;
	margin:10px;
	padding:10px;
	background-color:#e7fffe;
	border-radius: 1000px;
	border: 0px solid rgba(0,0,0,.0);
	box-shadow: inset 0px 3px 3px 1px rgba(0,0,0,.08),inset 0px -1px 2px 1px rgba(255,255,255,.45);
}

#icons a{
	
	margin-left:10px;
	
}

nav img{
	
	width:24px;
	
}


@keyframes scrollDown{
	
	100% { margin-top: -12%; }
	90% { margin-top: -12.2%; }
	80% { margin-top: -12.4%; }
	70% { margin-top: -12.6%; }
	60% { margin-top: -12.8%; }
	50% { margin-top: -13.0%; }
	40% { margin-top: -13.2%; }
	30% { margin-top: -13.4%; }
	20% { margin-top: -13.6%; }
	10% { margin-top: -13.8%; }
	0% { margin-top: -14%; }
	
}

#clickableArea{
	
	position:absolute;
	animation-name: scrollDown;
	animation-duration:1.5s;
	animation-iteration-count: infinite;
	z-index:0;
	font-size:31px;
	text-align:center;
	text-decoration:none;
	color:#000;

}


#projects{
	height:700px;
}

#projects h2{
	font-family:'Roboto Mono';
	text-align:center;
}

#projects table{
	
	width:60vw;
	min-width:500px;
	font-family:'Open Sans';
	font-size:100%;
	border-collapse:separate; 
	border-spacing:25px;
	
}

#projects td{
	padding:15px;
}

#projects td:not(:first-child){
	
	border-left:1px solid #000;
	
}

.projectTitle{
	
	font-weight:bold;
	
}
