
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	overflow-y:scroll;
	overflow-x:hidden;
}

*{
	scroll-behavior: smooth !important;
}

#mainCard{

	border:1px solid #cccccc;
	border-top:4px solid #000;
	border-radius:5px;
	box-shadow:3px 4px #dbdbdb;
	padding-top:10px;
	padding-right:20px;
	min-height:150px;
	min-width:340px;
	max-width:400px;
	z-index:1;
}

#mainCard img{
	border-radius:100%;
	max-width:125px;
	float:left;
}

.info{
	
	font-family:'Roboto Mono';
	font-size:24px;
	background-color:#fff;
	text-align:right;
	line-height:55px;

}

.info p{
	font-family:'Ubuntu';
	font-size:18px;
	line-height:23px;
}

#icons{
	position: fixed;
	min-width:100px;
	width: 98%;
	margin:10px;
	padding:10px;
	background-color:#e7fffe;
	border-radius: 1000px;
	border: 0px solid rgba(0,0,0,.0);
	box-shadow: inset 0px 3px 3px 1px rgba(0,0,0,.08),inset 0px -1px 2px 1px rgba(255,255,255,.45);
	transition-property: width;
	transition-duration: 0.8s;
	transition-timing-function: linear;
}

#icons a{
	
	margin-left:10px;
	
}

nav img{
	
	width:24px;
	
}

.bubble{
	width:fit-content;
	padding:2px 8px 2px 8px;
	background-color:#d5ffdb;
	border-radius: 1000px;
	border: 0px solid rgba(0,0,0,.0);
	box-shadow: inset 0px 5px 5px 1px rgba(0,0,0,.08),inset 0px -1px 2px 1px rgba(255,255,255,.45);
	font-size:14px;
	transition:0.2s;
	color:#007a12;
	display:inline;
}

.bubble:hover{
	background-color:#007a12;
	color:#d5ffdb;
	text-decoration:none;
}

.bubble a{
	color:#007a12;
}

.bubble a:hover{
	color:#d5ffdb;
	text-decoration:none;
}

#hitbox{
	
	width:65px;
	height:65px;
	position:absolute;
	margin-top:-8%;
	left: 50%;
	right:50%;

}


@keyframes scrollDown{
	
	100% { margin-top: 12%; }
	90% { margin-top: 10%; }
	80% { margin-top: 8%; }
	70% { margin-top: 6%; }
	60% { margin-top: 4%; }
	50% { margin-top: 2%; }
	40% { margin-top: 0%; }
	30% { margin-top: -2%; }
	20% { margin-top: -4%; }
	10% { margin-top: -6%; }
	0% { margin-top: -8%; }
	
}

#clickableArrow{

	animation-name: scrollDown;
	animation-duration:1.5s;
	animation-iteration-count: infinite;
	z-index:0;
	font-size:38px;
	text-decoration:none;
	color:#000;

}


#projects{
	height:700px;
}

#projects h2{
	font-family:'Roboto Mono';
	text-align:center;
}

#projects table{
	
	width:60vw;
	min-width:500px;
	font-family:'Open Sans';
	font-size:100%;
	border-collapse:separate; 
	border-spacing:25px;
	table-layout: fixed;
	
}

#projects td{
	padding:15px;
}

#projects td:not(:first-child){
	
	border-left:1px solid #000;
	
}

.projectTitle{

	width:25%;
	font-weight:bold;
	vertical-align:baseline;
}


#demo{
	display:inline;
}

#bookGeneratorDemo{
	padding-top:15px;
	display:none;
}

